node-red/flows.json
[
    {
        "id": "391536298c885e5a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1f270384aafe366e",
        "type": "comment",
        "z": "391536298c885e5a",
        "name": "LOGIN",
        "info": "",
        "x": 110,
        "y": 40,
        "wires": []
    },
    {
        "id": "83e5edc5226b5f46",
        "type": "function",
        "z": "391536298c885e5a",
        "name": "Trigger login form at start",
        "func": "msg.payload = {\n    \"tab\": \"Login\",\n    \"tabs\": {\n        \"hide\": [\"Home\"]\n    }\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 100,
        "wires": [
            [
                "575789acde4a6d11"
            ]
        ]
    },
    {
        "id": "575789acde4a6d11",
        "type": "ui_ui_control",
        "z": "391536298c885e5a",
        "name": "",
        "events": "all",
        "x": 620,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "0184116bab2d76f9",
        "type": "ui_form",
        "z": "391536298c885e5a",
        "name": "",
        "label": "",
        "group": "781ac152bb694f16",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": ""
        },
        "payload": "",
        "submit": "Login",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 90,
        "y": 220,
        "wires": [
            [
                "1f3c7de66402e3b4"
            ]
        ]
    },
    {
        "id": "1f3c7de66402e3b4",
        "type": "function",
        "z": "391536298c885e5a",
        "name": "Authenticate",
        "func": "if (msg.payload.username == flow.get(\"username\") && msg.payload.password == flow.get(\"password\"))\n    msg.payload.isValid = 1;\nelse msg.payload.isValid = 0;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 300,
        "wires": [
            [
                "283162c7147e67bc"
            ]
        ]
    },
    {
        "id": "dbafbeb56509e4a0",
        "type": "inject",
        "z": "391536298c885e5a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 100,
        "wires": [
            [
                "83e5edc5226b5f46"
            ]
        ]
    },
    {
        "id": "283162c7147e67bc",
        "type": "switch",
        "z": "391536298c885e5a",
        "name": "",
        "property": "payload.isValid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 300,
        "wires": [
            [
                "cd933a53999a85ef",
                "becd7c2ac48d9bcd"
            ],
            [
                "053b194365628e59"
            ]
        ]
    },
    {
        "id": "cd933a53999a85ef",
        "type": "function",
        "z": "391536298c885e5a",
        "name": "Show tabs and disable Login",
        "func": "msg.payload = {\n    \"tab\": \"Home\",\n    \"tabs\": {\n        \"hide\": [\"Login\"],\n        \"show\": [\"Home\"],\n    }\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 220,
        "wires": [
            [
                "eb1418eb52960958"
            ]
        ]
    },
    {
        "id": "2e86826b379225c4",
        "type": "ui_toast",
        "z": "391536298c885e5a",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Authentication failed",
        "name": "",
        "x": 910,
        "y": 420,
        "wires": []
    },
    {
        "id": "eb1418eb52960958",
        "type": "ui_ui_control",
        "z": "391536298c885e5a",
        "name": "",
        "events": "all",
        "x": 940,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "7fa28433539d5106",
        "type": "ui_toast",
        "z": "391536298c885e5a",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "Login successfully",
        "name": "",
        "x": 870,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "becd7c2ac48d9bcd",
        "type": "change",
        "z": "391536298c885e5a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Welcome back!!!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 320,
        "wires": [
            [
                "7fa28433539d5106"
            ]
        ]
    },
    {
        "id": "053b194365628e59",
        "type": "change",
        "z": "391536298c885e5a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Invalid username or password!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 420,
        "wires": [
            [
                "2e86826b379225c4"
            ]
        ]
    },
    {
        "id": "2c3f6c661498ac7e",
        "type": "comment",
        "z": "391536298c885e5a",
        "name": "HOME",
        "info": "",
        "x": 150,
        "y": 600,
        "wires": []
    },
    {
        "id": "d718c98ab1d51e1d",
        "type": "ui_gauge",
        "z": "391536298c885e5a",
        "name": "",
        "group": "59ed651b2ccf91aa",
        "order": 1,
        "width": 9,
        "height": 6,
        "gtype": "wave",
        "title": "Food Remaining",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 680,
        "y": 640,
        "wires": []
    },
    {
        "id": "58d55076ddc3529c",
        "type": "change",
        "z": "391536298c885e5a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "80",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 640,
        "wires": [
            [
                "d718c98ab1d51e1d"
            ]
        ]
    },
    {
        "id": "2c2fdaf7e788771f",
        "type": "inject",
        "z": "391536298c885e5a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 660,
        "wires": [
            [
                "58d55076ddc3529c",
                "d6e891de9a60a5bd",
                "80e915efa6b44c6a"
            ]
        ]
    },
    {
        "id": "e391504c1554574d",
        "type": "ui_gauge",
        "z": "391536298c885e5a",
        "name": "",
        "group": "457669cf121f2326",
        "order": 2,
        "width": 5,
        "height": 6,
        "gtype": "donut",
        "title": "Humidity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 680,
        "y": 700,
        "wires": []
    },
    {
        "id": "2106829c5507d31b",
        "type": "ui_gauge",
        "z": "391536298c885e5a",
        "name": "",
        "group": "457669cf121f2326",
        "order": 1,
        "width": 5,
        "height": 6,
        "gtype": "gage",
        "title": "Temperature",
        "label": "℃",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 670,
        "y": 780,
        "wires": []
    },
    {
        "id": "d6e891de9a60a5bd",
        "type": "change",
        "z": "391536298c885e5a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "70",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 700,
        "wires": [
            [
                "e391504c1554574d"
            ]
        ]
    },
    {
        "id": "80e915efa6b44c6a",
        "type": "change",
        "z": "391536298c885e5a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "10",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 780,
        "wires": [
            [
                "2106829c5507d31b"
            ]
        ]
    },
    {
        "id": "e272cc6c6343b42b",
        "type": "ui_chart",
        "z": "391536298c885e5a",
        "name": "",
        "group": "3e75d3f7611fd738",
        "order": 1,
        "width": 10,
        "height": 5,
        "label": "Food consumed",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 660,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "19aa04467ae9f78e",
        "type": "function",
        "z": "391536298c885e5a",
        "name": "function 1",
        "func": "msg.payload = Math.random() * 100;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 820,
        "wires": [
            [
                "e272cc6c6343b42b"
            ]
        ]
    },
    {
        "id": "4a0530729b5c604d",
        "type": "inject",
        "z": "391536298c885e5a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 780,
        "wires": [
            [
                "19aa04467ae9f78e"
            ]
        ]
    },
    {
        "id": "6fc39b3f6dbba180",
        "type": "comment",
        "z": "391536298c885e5a",
        "name": "FOOD SCHEDULE",
        "info": "",
        "x": 230,
        "y": 1080,
        "wires": []
    },
    {
        "id": "046229cc8202d1c0",
        "type": "comment",
        "z": "391536298c885e5a",
        "name": "PET PROFILE",
        "info": "",
        "x": 160,
        "y": 3780,
        "wires": []
    },
    {
        "id": "dfcfc27f07dc0694",
        "type": "ui_text",
        "z": "391536298c885e5a",
        "group": "c67eb2ed437d0cbf",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Name:",
        "format": "{{msg.payload.name}}",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "20",
        "color": "#ffffff",
        "x": 710,
        "y": 3840,
        "wires": []
    },
    {
        "id": "209a17508df5be2a",
        "type": "ui_text",
        "z": "391536298c885e5a",
        "group": "c67eb2ed437d0cbf",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Date of birth:",
        "format": "{{msg.payload.dob}}",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "20",
        "color": "#ffffff",
        "x": 710,
        "y": 3900,
        "wires": []
    },
    {
        "id": "77b96510a3d835c7",
        "type": "inject",
        "z": "391536298c885e5a",
        "name": "",
        "props": [
            {
                "p": "payload.name",
                "v": "Kiki",
                "vt": "str"
            },
            {
                "p": "payload.dob",
                "v": "01 - 01 - 2022",
                "vt": "str"
            },
            {
                "p": "payload.weight",
                "v": "8kg",
                "vt": "str"
            },
            {
                "p": "payload.breed",
                "v": "Cho co",
                "vt": "str"
            },
            {
                "p": "payload.color",
                "v": "Dark, green, pink, purple",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 3860,
        "wires": [
            [
                "f445b04f15f1257b",
                "e4410b499b5adfd8"
            ]
        ]
    },
    {
        "id": "977f32b41377480e",
        "type": "ui_text",
        "z": "391536298c885e5a",
        "group": "c67eb2ed437d0cbf",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Weight:",
        "format": "{{msg.payload.weight}}",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "20",
        "color": "#ffffff",
        "x": 720,
        "y": 3960,
        "wires": []
    },
    {
        "id": "af6fb7e7a570cbda",
        "type": "ui_text",
        "z": "391536298c885e5a",
        "group": "c67eb2ed437d0cbf",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Breed:",
        "format": "{{msg.payload.breed}}",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "20",
        "color": "#ffffff",
        "x": 730,
        "y": 4020,
        "wires": []
    },
    {
        "id": "06b04da342465cc7",
        "type": "ui_text",
        "z": "391536298c885e5a",
        "group": "c67eb2ed437d0cbf",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Color: ",
        "format": "{{msg.payload.color}}",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "20",
        "color": "#ffffff",
        "x": 690,
        "y": 4080,
        "wires": []
    },
    {
        "id": "3f7a73e014b9affe",
        "type": "ui_button",
        "z": "391536298c885e5a",
        "name": "",
        "group": "c67eb2ed437d0cbf",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Update information",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 4180,
        "wires": [
            [
                "bb167a9c94225de9"
            ]
        ]
    },
    {
        "id": "401d4435ad6dc834",
        "type": "ui_form",
        "z": "391536298c885e5a",
        "name": "",
        "label": "Enter new information",
        "group": "a4f453e6cef8b789",
        "order": 7,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Name",
                "value": "name",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Date of birth",
                "value": "dob",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Weight",
                "value": "weight",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Breed",
                "value": "breed",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Color",
                "value": "color",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "name": "",
            "dob": "",
            "weight": "",
            "breed": "",
            "color": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": true,
        "className": "",
        "x": 380,
        "y": 4280,
        "wires": [
            [
                "6ed7e4e447b4b697",
                "bb9d1a3b77a84248"
            ]
        ]
    },
    {
        "id": "bb167a9c94225de9",
        "type": "function",
        "z": "391536298c885e5a",
        "name": "Switch to update screen",
        "func": "msg.payload = {\n    \"group\": {\n        \"show\": [\"Profile_Update\"]\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 4180,
        "wires": [
            [
                "6c3a224304c54c64"
            ]
        ]
    },
    {
        "id": "6c3a224304c54c64",
        "type": "ui_ui_control",
        "z": "391536298c885e5a",
        "name": "",
        "events": "all",
        "x": 720,
        "y": 4160,
        "wires": [
            []
        ]
    },
    {
        "id": "f445b04f15f1257b",
        "type": "function",
        "z": "391536298c885e5a",
        "name": "Set update form invisible",
        "func": "msg.payload = {\n    \"group\": {\n        \"hide\": [\"Profile_Update\"]\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 4100,
        "wires": [
            [
                "2dd98cf7de729bfc"
            ]
        ]
    },
    {
        "id": "2dd98cf7de729bfc",
        "type": "ui_ui_control",
        "z": "391536298c885e5a",
        "name": "",
        "events": "all",
        "x": 480,
        "y": 4120,
        "wires": [
            []
        ]
    },
    {
        "id": "6ed7e4e447b4b697",
        "type": "function",
        "z": "391536298c885e5a",
        "name": "Set update form invisible",
        "func": "msg.payload = {\n    \"group\": {\n        \"hide\": [\"Profile_Update\"]\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 4280,
        "wires": [
            [
                "6485e2cf5f510a68"
            ]
        ]
    },
    {
        "id": "6485e2cf5f510a68",
        "type": "ui_ui_control",
        "z": "391536298c885e5a",
        "name": "",
        "events": "all",
        "x": 920,
        "y": 4240,
        "wires": [
            []
        ]
    },
    {
        "id": "5fd36a59f3969789",
        "type": "comment",
        "z": "391536298c885e5a",
        "name": "DEVICE MANAGER",
        "info": "",
        "x": 150,
        "y": 1720,
        "wires": []
    },
    {
        "id": "3e909a44401fb94a",
        "type": "comment",
        "z": "391536298c885e5a",
        "name": "SETTINGS",
        "info": "",
        "x": 120,
        "y": 2720,
        "wires": []
    },
    {
        "id": "65dd4f91db9fa2ce",
        "type": "inject",
        "z": "391536298c885e5a",
        "name": "",
        "props": [
            {
                "p": "payload.email",
                "v": "choGthinh@dbrr.com",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 70,
        "y": 2820,
        "wires": [
            [
                "a137e8081e53af1a",
                "9201753eac3c5551"
            ]
        ]
    },
    {
        "id": "64f4db34ce91c7bc",
        "type": "ui_text",
        "z": "391536298c885e5a",
        "group": "ca32dfb2ec8ab7f1",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Email: ",
        "format": "{{msg.payload.email}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#ffffff",
        "x": 690,
        "y": 2820,
        "wires": []
    },
    {
        "id": "9bd61ae926bda640",
        "type": "ui_button",
        "z": "391536298c885e5a",
        "name": "",
        "group": "ca32dfb2ec8ab7f1",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Change email",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 3140,
        "wires": [
            [
                "33d6c7c15540ea59"
            ]
        ]
    },
    {
        "id": "fc3bc17efb425e96",
        "type": "ui_text",
        "z": "391536298c885e5a",
        "group": "ca32dfb2ec8ab7f1",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Notification",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "20",
        "color": "#ffffff",
        "x": 850,
        "y": 2840,
        "wires": []
    },
    {
        "id": "d447eb4969a25a75",
        "type": "ui_switch",
        "z": "391536298c885e5a",
        "name": "",
        "label": "On / Off",
        "tooltip": "",
        "group": "ca32dfb2ec8ab7f1",
        "order": 6,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 880,
        "y": 2880,
        "wires": [
            [
                "651d2f86a1edcd7d",
                "72d4a1c08bdd7fdf"
            ]
        ]
    },
    {
        "id": "0e92d116247193db",
        "type": "mqtt out",
        "z": "391536298c885e5a",
        "name": "",
        "topic": "buzzer/mute",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "765ac9edbab7f418",
        "x": 590,
        "y": 1740,
        "wires": []
    },
    {
        "id": "307c9f6e8ade7a9a",
        "type": "mqtt out",
        "z": "391536298c885e5a",
        "name": "",
        "topic": "buzzer/trigger",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "765ac9edbab7f418",
        "x": 580,
        "y": 1820,
        "wires": []
    },
    {
        "id": "a43e8cb2dcec927e",
        "type": "ui_button",
        "z": "391536298c885e5a",
        "name": "",
        "group": "bc6151c1fb37c908",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Trigger the buzzer",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "trigger buzzer",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 1820,
        "wires": [
            [
                "307c9f6e8ade7a9a"
            ]
        ]
    },
    {
        "id": "7202afd6550cfce0",
        "type": "ui_switch",
        "z": "391536298c885e5a",
        "name": "",
        "label": "Mute sound",
        "tooltip": "",
        "group": "bc6151c1fb37c908",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "buzzer off",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "buzzer on",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 350,
        "y": 1740,
        "wires": [
            [
                "0e92d116247193db"
            ]
        ]
    },
    {
        "id": "78221d5cc2277691",
        "type": "ui_slider",
        "z": "391536298c885e5a",
        "name": "",
        "label": "Light slider",
        "tooltip": "",
        "group": "b7dc2792b95da7d1",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "0",
        "max": 10,
        "step": 1,
        "className": "",
        "x": 310,
        "y": 1940,
        "wires": [
            [
                "b2b7c1e1df1de9c8",
                "de39e26fdf1de4a1"
            ]
        ]
    },
    {
        "id": "b2b7c1e1df1de9c8",
        "type": "ui_gauge",
        "z": "391536298c885e5a",
        "name": "",
        "group": "b7dc2792b95da7d1",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Light",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 530,
        "y": 1940,
        "wires": []
    },
    {
        "id": "7faf8ab9c3cf559a",
        "type": "debug",
        "z": "391536298c885e5a",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 2060,
        "wires": []
    },
    {
        "id": "91e9a6a8e0690a90",
        "type": "mqtt in",
        "z": "391536298c885e5a",
        "name": "",
        "topic": "light/cur",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "765ac9edbab7f418",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 1980,
        "wires": [
            [
                "78221d5cc2277691",
                "7faf8ab9c3cf559a"
            ]
        ]
    },
    {
        "id": "64ae1a8566108f76",
        "type": "mqtt out",
        "z": "391536298c885e5a",
        "name": "",
        "topic": "get/all_data",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "765ac9edbab7f418",
        "x": 510,
        "y": 520,
        "wires": []
    },
    {
        "id": "832b4c7007ddfce4",
        "type": "inject",
        "z": "391536298c885e5a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "de39e26fdf1de4a1",
        "type": "mqtt out",
        "z": "391536298c885e5a",
        "name": "",
        "topic": "light/set",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "765ac9edbab7f418",
        "x": 540,
        "y": 2000,
        "wires": []
    },
    {
        "id": "841f87061ebc5480",
        "type": "ui_toast",
        "z": "391536298c885e5a",
        "position": "prompt",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "Enter the PIN code",
        "name": "",
        "x": 460,
        "y": 2200,
        "wires": [
            [
                "5282635ede1b7d34"
            ]
        ]
    },
    {
        "id": "dc97fe1e712cba42",
        "type": "function",
        "z": "391536298c885e5a",
        "name": "Ask for PIN code",
        "func": "msg.payload = \"You are about to open / close the lid\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 2160,
        "wires": [
            [
                "841f87061ebc5480"
            ]
        ]
    },
    {
        "id": "5282635ede1b7d34",
        "type": "function",
        "z": "391536298c885e5a",
        "name": "function 3",
        "func": "if (msg.payload == \"123\") {\n    msg.payload = true;\n}\nelse msg.payload = false;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 2160,
        "wires": [
            [
                "85591e7712e52482"
            ]
        ]
    },
    {
        "id": "55c2c5b8c7907d83",
        "type": "ui_button",
        "z": "391536298c885e5a",
        "name": "",
        "group": "bf126c3444189feb",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Open / Close the lid",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "lid",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 2200,
        "wires": [
            [
                "dc97fe1e712cba42"
            ]
        ]
    },
    {
        "id": "85591e7712e52482",
        "type": "switch",
        "z": "391536298c885e5a",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 720,
        "y": 2220,
        "wires": [
            [
                "6c1928287512b3d5",
                "9dab66133669ad8f"
            ],
            [
                "0602a8bb5d7d163c"
            ]
        ]
    },
    {
        "id": "6c1928287512b3d5",
        "type": "ui_toast",
        "z": "391536298c885e5a",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Operation successfully completed",
        "name": "",
        "x": 980,
        "y": 2140,
        "wires": []
    },
    {
        "id": "0602a8bb5d7d163c",
        "type": "ui_toast",
        "z": "391536298c885e5a",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Invalid PIN code",
        "name": "",
        "x": 980,
        "y": 2260,
        "wires": []
    },
    {
        "id": "8f2e6368362f3337",
        "type": "ui_button",
        "z": "391536298c885e5a",
        "name": "",
        "group": "aa2c7da12e1086a2",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Feed your pet",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 220,
        "y": 2300,
        "wires": [
            [
                "876dde2337715f94"
            ]
        ]
    },
    {
        "id": "9dab66133669ad8f",
        "type": "mqtt out",
        "z": "391536298c885e5a",
        "name": "",
        "topic": "lid/open",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "765ac9edbab7f418",
        "x": 980,
        "y": 2200,
        "wires": []
    },
    {
        "id": "876dde2337715f94",
        "type": "mqtt out",
        "z": "391536298c885e5a",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "765ac9edbab7f418",
        "x": 430,
        "y": 2300,
        "wires": []
    },
    {
        "id": "47d6ea6ec824b734",
        "type": "inject",
        "z": "391536298c885e5a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 1240,
        "wires": [
            [
                "c144d5ed6e4a3331",
                "6fa300755250c7a5"
            ]
        ]
    },
    {
        "id": "c144d5ed6e4a3331",
        "type": "file in",
        "z": "391536298c885e5a",
        "name": "",
        "filename": "D:\\GiaThinh\\test.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 330,
        "y": 1240,
        "wires": [
            [
                "823a8f4f73331bff"
            ]
        ]
    },
    {
        "id": "f14b9b57ea8b5a01",
        "type": "ui_text",
        "z": "391536298c885e5a",
        "group": "0d1a2c0b7eda5eb1",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "12:00 - 14:00",
        "format": "{{msg.payload.time1}}g",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 770,
        "y": 1280,
        "wires": []
    },
    {
        "id": "06a762d93816f551",
        "type": "ui_text",
        "z": "391536298c885e5a",
        "group": "0d1a2c0b7eda5eb1",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "8:00 - 10:00",
        "format": "{{msg.payload.time0}}g",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 770,
        "y": 1240,
        "wires": []
    },
    {
        "id": "be36b038cb4f8b70",
        "type": "ui_text",
        "z": "391536298c885e5a",
        "group": "0d1a2c0b7eda5eb1",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "20:00 - 22:00",
        "format": "{{msg.payload.time3}}g",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 770,
        "y": 1360,
        "wires": []
    },
    {
        "id": "793669ccae0f9748",
        "type": "ui_text",
        "z": "391536298c885e5a",
        "group": "0d1a2c0b7eda5eb1",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "16:00 - 18:00",
        "format": "{{msg.payload.time2}}g",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 770,
        "y": 1320,
        "wires": []
    },
    {
        "id": "cf6fe8bd91ad4ff7",
        "type": "ui_button",
        "z": "391536298c885e5a",
        "name": "",
        "group": "0d1a2c0b7eda5eb1",
        "order": 4,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Update Schedule",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 1580,
        "wires": [
            [
                "ca5e62d7ad169400"
            ]
        ]
    },
    {
        "id": "6fa300755250c7a5",
        "type": "function",
        "z": "391536298c885e5a",
        "name": "Set update form invisible",
        "func": "msg.payload = {\n    \"group\": {\n        \"hide\": [\"FoodSchedule_Update\"]\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1120,
        "wires": [
            [
                "8f60cd26109f763a"
            ]
        ]
    },
    {
        "id": "8f60cd26109f763a",
        "type": "ui_ui_control",
        "z": "391536298c885e5a",
        "name": "",
        "events": "all",
        "x": 560,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "ca5e62d7ad169400",
        "type": "function",
        "z": "391536298c885e5a",
        "name": "Set update form visible",
        "func": "msg.payload = {\n    \"group\": {\n        \"show\": [\"FoodSchedule_Update\"]\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1580,
        "wires": [
            [
                "6390a205b808d8a1"
            ]
        ]
    },
    {
        "id": "6390a205b808d8a1",
        "type": "ui_ui_control",
        "z": "391536298c885e5a",
        "name": "",
        "events": "all",
        "x": 700,
        "y": 1580,
        "wires": [
            []
        ]
    },
    {
        "id": "7f328a2164c6540b",
        "type": "ui_form",
        "z": "391536298c885e5a",
        "name": "",
        "label": "Update Food Schedule",
        "group": "07c0afe64b480570",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "8:00 - 10:00",
                "value": "time0",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "12:00 - 14:00",
                "value": "time1",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "16:00 - 18:00",
                "value": "time2",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "20:00 - 22:00",
                "value": "time3",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "time0": "",
            "time1": "",
            "time2": "",
            "time3": ""
        },
        "payload": "",
        "submit": "update",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 180,
        "y": 1460,
        "wires": [
            [
                "6485deeb79cf725d",
                "a0cef3b4156ccb30",
                "06a762d93816f551",
                "f14b9b57ea8b5a01",
                "793669ccae0f9748",
                "be36b038cb4f8b70"
            ]
        ]
    },
    {
        "id": "6485deeb79cf725d",
        "type": "function",
        "z": "391536298c885e5a",
        "name": "Set update form invisible",
        "func": "msg.payload = {\n    \"group\": {\n        \"hide\": [\"FoodSchedule_Update\"]\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1460,
        "wires": [
            [
                "8c6ae1d4f69dac32"
            ]
        ]
    },
    {
        "id": "8c6ae1d4f69dac32",
        "type": "ui_ui_control",
        "z": "391536298c885e5a",
        "name": "",
        "events": "all",
        "x": 760,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "a0cef3b4156ccb30",
        "type": "file",
        "z": "391536298c885e5a",
        "name": "",
        "filename": "D:\\GiaThinh\\test.txt",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 490,
        "y": 1520,
        "wires": [
            []
        ]
    },
    {
        "id": "823a8f4f73331bff",
        "type": "json",
        "z": "391536298c885e5a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 490,
        "y": 1240,
        "wires": [
            [
                "06a762d93816f551",
                "f14b9b57ea8b5a01",
                "793669ccae0f9748",
                "be36b038cb4f8b70",
                "cebb80ada1fc5d3d"
            ]
        ]
    },
    {
        "id": "1c68ae0181756565",
        "type": "mqtt out",
        "z": "391536298c885e5a",
        "name": "",
        "topic": "schedule/set",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e9376441b65f8fa6",
        "x": 890,
        "y": 1180,
        "wires": []
    },
    {
        "id": "cebb80ada1fc5d3d",
        "type": "function",
        "z": "391536298c885e5a",
        "name": "Split data",
        "func": "var msgList = [];\nmsgList.push({payload: msg.payload.time0});\nmsgList.push({payload: msg.payload.time1});\nmsgList.push({payload: msg.payload.time2});\nmsgList.push({payload: msg.payload.time3});\nreturn [msgList];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1180,
        "wires": [
            [
                "1c68ae0181756565",
                "512f64daca4a5e9c"
            ]
        ]
    },
    {
        "id": "512f64daca4a5e9c",
        "type": "debug",
        "z": "391536298c885e5a",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 1120,
        "wires": []
    },
    {
        "id": "c56b0cdef97cdcc7",
        "type": "mqtt in",
        "z": "391536298c885e5a",
        "name": "",
        "topic": "home/foodConsumed",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e9376441b65f8fa6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 880,
        "wires": [
            [
                "4e166ba0181075c0"
            ]
        ]
    },
    {
        "id": "4e166ba0181075c0",
        "type": "debug",
        "z": "391536298c885e5a",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 920,
        "wires": []
    },
    {
        "id": "a137e8081e53af1a",
        "type": "file in",
        "z": "391536298c885e5a",
        "name": "",
        "filename": "D:\\IOT\\auth.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 280,
        "y": 2800,
        "wires": [
            [
                "c237e4a3109931e4"
            ]
        ]
    },
    {
        "id": "c237e4a3109931e4",
        "type": "json",
        "z": "391536298c885e5a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 450,
        "y": 2860,
        "wires": [
            [
                "0e35939414f6d303",
                "1d22be368e7288a4",
                "148a374981203345",
                "3fb129b72ec8e1f0",
                "64f4db34ce91c7bc",
                "dd70edfd4ad23b34",
                "1c0c251e3620f64f"
            ]
        ]
    },
    {
        "id": "3fb129b72ec8e1f0",
        "type": "function",
        "z": "391536298c885e5a",
        "name": "Set notification",
        "func": "if (msg.payload.noti == 1) msg.payload = true;\nelse msg.payload = false;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 2900,
        "wires": [
            [
                "d447eb4969a25a75"
            ]
        ]
    },
    {
        "id": "148a374981203345",
        "type": "ui_text",
        "z": "391536298c885e5a",
        "group": "ca32dfb2ec8ab7f1",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Username: ",
        "format": "{{msg.payload.username}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#ffffff",
        "x": 710,
        "y": 2960,
        "wires": []
    },
    {
        "id": "1d22be368e7288a4",
        "type": "ui_text",
        "z": "391536298c885e5a",
        "group": "ca32dfb2ec8ab7f1",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Password: ",
        "format": "{{msg.payload.password}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#ffffff",
        "x": 690,
        "y": 3020,
        "wires": []
    },
    {
        "id": "0e35939414f6d303",
        "type": "ui_text",
        "z": "391536298c885e5a",
        "group": "ca32dfb2ec8ab7f1",
        "order": 9,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "PIN code: ",
        "format": "{{msg.payload.pin}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#ffffff",
        "x": 660,
        "y": 3080,
        "wires": []
    },
    {
        "id": "e14fc6f6011ae2da",
        "type": "ui_button",
        "z": "391536298c885e5a",
        "name": "",
        "group": "ca32dfb2ec8ab7f1",
        "order": 8,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Change password",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 3220,
        "wires": [
            [
                "1d0ed55c0563fc76"
            ]
        ]
    },
    {
        "id": "c074bc50e178e881",
        "type": "ui_button",
        "z": "391536298c885e5a",
        "name": "",
        "group": "ca32dfb2ec8ab7f1",
        "order": 10,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Change PIN",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 3300,
        "wires": [
            [
                "85785f944d5650cd"
            ]
        ]
    },
    {
        "id": "8daafb23e63cd716",
        "type": "ui_form",
        "z": "391536298c885e5a",
        "name": "",
        "label": "Change email",
        "group": "494a9fd41ac89a9d",
        "order": 11,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Email",
                "value": "email",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "email": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 140,
        "y": 3420,
        "wires": [
            [
                "b837be01d2d38ffa",
                "db34ed46867263d5"
            ]
        ]
    },
    {
        "id": "c82f85402fd63f60",
        "type": "ui_form",
        "z": "391536298c885e5a",
        "name": "",
        "label": "Change password",
        "group": "6b19a6192710be8b",
        "order": 12,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "New password",
                "value": "password",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "password": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 130,
        "y": 3540,
        "wires": [
            [
                "dae89873c9be1f5f",
                "1da8526ae576bd13"
            ]
        ]
    },
    {
        "id": "c7e34bdc2a96327e",
        "type": "ui_form",
        "z": "391536298c885e5a",
        "name": "",
        "label": "Change PIN code",
        "group": "851fee28e1842b00",
        "order": 13,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "New PIN code",
                "value": "pin",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "pin": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 130,
        "y": 3640,
        "wires": [
            [
                "9ba85a5487fab7b3",
                "26b12c90dfb1f7da"
            ]
        ]
    },
    {
        "id": "9201753eac3c5551",
        "type": "function",
        "z": "391536298c885e5a",
        "name": "Hide update forms ",
        "func": "msg.payload = {\n    \"group\": {\n        \"hide\": [\"Settings_EmailUpdate\", \"Settings_PasswordUpdate\", \"Settings_PinUpdate\"]\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 2980,
        "wires": [
            [
                "bec18280715d6939"
            ]
        ]
    },
    {
        "id": "bec18280715d6939",
        "type": "ui_ui_control",
        "z": "391536298c885e5a",
        "name": "",
        "events": "all",
        "x": 400,
        "y": 3020,
        "wires": [
            []
        ]
    },
    {
        "id": "33d6c7c15540ea59",
        "type": "function",
        "z": "391536298c885e5a",
        "name": "Unhide email form",
        "func": "msg.payload = {\n    \"group\": {\n        \"show\": [\"Settings_EmailUpdate\"]\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 3140,
        "wires": [
            [
                "1c60b848904b5d33"
            ]
        ]
    },
    {
        "id": "1c60b848904b5d33",
        "type": "ui_ui_control",
        "z": "391536298c885e5a",
        "name": "",
        "events": "all",
        "x": 620,
        "y": 3200,
        "wires": [
            []
        ]
    },
    {
        "id": "1d0ed55c0563fc76",
        "type": "function",
        "z": "391536298c885e5a",
        "name": "Unhide password form",
        "func": "msg.payload = {\n    \"group\": {\n        \"show\": [\"Settings_PasswordUpdate\"]\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 3220,
        "wires": [
            [
                "1c60b848904b5d33"
            ]
        ]
    },
    {
        "id": "85785f944d5650cd",
        "type": "function",
        "z": "391536298c885e5a",
        "name": "Unhide PIN form",
        "func": "msg.payload = {\n    \"group\": {\n        \"show\": [\"Settings_PinUpdate\"]\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 3300,
        "wires": [
            [
                "1c60b848904b5d33"
            ]
        ]
    },
    {
        "id": "847f0287a5eb9b8b",
        "type": "file",
        "z": "391536298c885e5a",
        "name": "",
        "filename": "D:\\IOT\\auth.txt",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1040,
        "y": 3480,
        "wires": [
            [
                "9201753eac3c5551"
            ]
        ]
    },
    {
        "id": "b837be01d2d38ffa",
        "type": "file in",
        "z": "391536298c885e5a",
        "name": "",
        "filename": "D:\\IOT\\auth.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 380,
        "y": 3380,
        "wires": [
            [
                "d13ca893077b2d66"
            ]
        ]
    },
    {
        "id": "d13ca893077b2d66",
        "type": "json",
        "z": "391536298c885e5a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 550,
        "y": 3360,
        "wires": [
            [
                "fac2df3a29cf9667"
            ]
        ]
    },
    {
        "id": "fac2df3a29cf9667",
        "type": "function",
        "z": "391536298c885e5a",
        "name": "Set new email",
        "func": "msg.payload.email = flow.get(\"newEmail\");\nflow.set(\"email\", msg.payload.email);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 3380,
        "wires": [
            [
                "847f0287a5eb9b8b",
                "64f4db34ce91c7bc"
            ]
        ]
    },
    {
        "id": "db34ed46867263d5",
        "type": "function",
        "z": "391536298c885e5a",
        "name": "Store new email",
        "func": "flow.set(\"newEmail\", msg.payload.email);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 3440,
        "wires": [
            []
        ]
    },
    {
        "id": "dae89873c9be1f5f",
        "type": "file in",
        "z": "391536298c885e5a",
        "name": "",
        "filename": "D:\\IOT\\auth.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 340,
        "y": 3520,
        "wires": [
            [
                "d16cb7683661e853"
            ]
        ]
    },
    {
        "id": "9ba85a5487fab7b3",
        "type": "file in",
        "z": "391536298c885e5a",
        "name": "",
        "filename": "D:\\IOT\\auth.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 380,
        "y": 3620,
        "wires": [
            [
                "e63b0daee870e2ca"
            ]
        ]
    },
    {
        "id": "1da8526ae576bd13",
        "type": "function",
        "z": "391536298c885e5a",
        "name": "Store new password",
        "func": "flow.set(\"newPassword\", msg.payload.password);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 3580,
        "wires": [
            []
        ]
    },
    {
        "id": "26b12c90dfb1f7da",
        "type": "function",
        "z": "391536298c885e5a",
        "name": "Store new pin code",
        "func": "flow.set(\"newPin\", msg.payload.pin);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 3660,
        "wires": [
            []
        ]
    },
    {
        "id": "d16cb7683661e853",
        "type": "json",
        "z": "391536298c885e5a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 510,
        "y": 3520,
        "wires": [
            [
                "216afb68b34295e3"
            ]
        ]
    },
    {
        "id": "216afb68b34295e3",
        "type": "function",
        "z": "391536298c885e5a",
        "name": "Set new password",
        "func": "msg.payload.password = flow.get(\"newPassword\");\nflow.set(\"password\", msg.payload.password);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 3500,
        "wires": [
            [
                "847f0287a5eb9b8b",
                "1d22be368e7288a4"
            ]
        ]
    },
    {
        "id": "e63b0daee870e2ca",
        "type": "json",
        "z": "391536298c885e5a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 540,
        "y": 3620,
        "wires": [
            [
                "9722ab1ee77dc4db"
            ]
        ]
    },
    {
        "id": "9722ab1ee77dc4db",
        "type": "function",
        "z": "391536298c885e5a",
        "name": "Set new pin",
        "func": "msg.payload.pin = flow.get(\"newPin\");\nflow.set(\"pin\", msg.payload.pin);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 3620,
        "wires": [
            [
                "847f0287a5eb9b8b",
                "0e35939414f6d303"
            ]
        ]
    },
    {
        "id": "1c0c251e3620f64f",
        "type": "function",
        "z": "391536298c885e5a",
        "name": "Set Auth Data",
        "func": "flow.set(\"username\", msg.payload.username);\nflow.set(\"password\", msg.payload.password);\nflow.set(\"email\", msg.payload.email);\nflow.set(\"pin\", msg.payload.pin);\nflow.set(\"noti\", msg.payload.noti);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 2740,
        "wires": [
            [
                "586c5e4eceedec53",
                "620a9284d8f2c958"
            ]
        ]
    },
    {
        "id": "651d2f86a1edcd7d",
        "type": "file in",
        "z": "391536298c885e5a",
        "name": "",
        "filename": "D:\\IOT\\auth.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1080,
        "y": 2860,
        "wires": [
            [
                "9682e39d7ecc58dd"
            ]
        ]
    },
    {
        "id": "9682e39d7ecc58dd",
        "type": "json",
        "z": "391536298c885e5a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1170,
        "y": 2940,
        "wires": [
            [
                "5c4bb66c58accf20"
            ]
        ]
    },
    {
        "id": "72d4a1c08bdd7fdf",
        "type": "function",
        "z": "391536298c885e5a",
        "name": "Store new noti",
        "func": "flow.set(\"newNoti\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 3020,
        "wires": [
            []
        ]
    },
    {
        "id": "5c4bb66c58accf20",
        "type": "function",
        "z": "391536298c885e5a",
        "name": "Set new noti",
        "func": "msg.payload.noti = flow.get(\"newNoti\");\nflow.set(\"noti\", msg.payload.noti);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 3040,
        "wires": [
            [
                "847f0287a5eb9b8b"
            ]
        ]
    },
    {
        "id": "e4410b499b5adfd8",
        "type": "file in",
        "z": "391536298c885e5a",
        "name": "",
        "filename": "D:\\IOT\\profile.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 320,
        "y": 3880,
        "wires": [
            [
                "077f077583aab44f"
            ]
        ]
    },
    {
        "id": "077f077583aab44f",
        "type": "json",
        "z": "391536298c885e5a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 500,
        "y": 3900,
        "wires": [
            [
                "dfcfc27f07dc0694",
                "209a17508df5be2a",
                "977f32b41377480e",
                "af6fb7e7a570cbda",
                "06b04da342465cc7"
            ]
        ]
    },
    {
        "id": "bb9d1a3b77a84248",
        "type": "file",
        "z": "391536298c885e5a",
        "name": "",
        "filename": "D:\\IOT\\profile.txt",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 660,
        "y": 4380,
        "wires": [
            [
                "e4410b499b5adfd8"
            ]
        ]
    },
    {
        "id": "d548f217fa2a336c",
        "type": "mqtt in",
        "z": "391536298c885e5a",
        "name": "",
        "topic": "alert/food",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "765ac9edbab7f418",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 4520,
        "wires": [
            [
                "57a322cc5015bdd8"
            ]
        ]
    },
    {
        "id": "4065b169dcc184af",
        "type": "mqtt in",
        "z": "391536298c885e5a",
        "name": "",
        "topic": "alert/env",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "765ac9edbab7f418",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 4640,
        "wires": [
            [
                "57a322cc5015bdd8"
            ]
        ]
    },
    {
        "id": "ee37085cd0131480",
        "type": "e-mail",
        "z": "391536298c885e5a",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "Send email",
        "x": 950,
        "y": 4600,
        "wires": []
    },
    {
        "id": "a72cdaa400f6d526",
        "type": "function",
        "z": "391536298c885e5a",
        "name": "Setup email",
        "func": "msg.payload = \"The device is running low on supplies. Can you please restock it at your earliest convenience?\";\nmsg.topic = \"FOOD RUNNING OUT\";\nmsg.to = flow.get(\"email\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 4520,
        "wires": [
            [
                "ee37085cd0131480",
                "d20cfdf3663a14db"
            ]
        ]
    },
    {
        "id": "7e68e2e1ccc69d47",
        "type": "function",
        "z": "391536298c885e5a",
        "name": "Setup email",
        "func": "msg.payload = \"It seems like the temperature or humidity levels are a bit extreme. You might want to check on things and make adjustments if needed.\";\nmsg.topic = \"TEMPERATURE AND HUMIDITY LEVELS DETECTED OUTSIDE NORMAL RANGE\";\nmsg.to = flow.get(\"email\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 4640,
        "wires": [
            [
                "50c3948ccc0cd88c"
            ]
        ]
    },
    {
        "id": "50c3948ccc0cd88c",
        "type": "e-mail",
        "z": "391536298c885e5a",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "Send email",
        "x": 930,
        "y": 4700,
        "wires": []
    },
    {
        "id": "c9be57c8332e56ef",
        "type": "inject",
        "z": "391536298c885e5a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 460,
        "y": 4460,
        "wires": [
            [
                "a72cdaa400f6d526"
            ]
        ]
    },
    {
        "id": "d20cfdf3663a14db",
        "type": "debug",
        "z": "391536298c885e5a",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 4440,
        "wires": []
    },
    {
        "id": "586c5e4eceedec53",
        "type": "function",
        "z": "391536298c885e5a",
        "name": "function 4",
        "func": "msg.payload = flow.get(\"email\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 2680,
        "wires": [
            [
                "851724d894c43a3a"
            ]
        ]
    },
    {
        "id": "851724d894c43a3a",
        "type": "debug",
        "z": "391536298c885e5a",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 2660,
        "wires": []
    },
    {
        "id": "dd70edfd4ad23b34",
        "type": "debug",
        "z": "391536298c885e5a",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 2780,
        "wires": []
    },
    {
        "id": "620a9284d8f2c958",
        "type": "debug",
        "z": "391536298c885e5a",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 2740,
        "wires": []
    },
    {
        "id": "2bda864e430f32d1",
        "type": "switch",
        "z": "391536298c885e5a",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 4560,
        "wires": [
            [
                "a72cdaa400f6d526",
                "7e68e2e1ccc69d47"
            ],
            []
        ]
    },
    {
        "id": "57a322cc5015bdd8",
        "type": "function",
        "z": "391536298c885e5a",
        "name": "Check notification is turn on or not",
        "func": "if (flow.get(\"noti\") == true) msg.payload = 1;\nelse msg.payload = 0;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 4560,
        "wires": [
            [
                "2bda864e430f32d1"
            ]
        ]
    },
    {
        "id": "5226b50cebdf6586",
        "type": "ui_spacer",
        "z": "391536298c885e5a",
        "name": "spacer",
        "group": "ca32dfb2ec8ab7f1",
        "order": 4,
        "width": 3,
        "height": 1
    },
    {
        "id": "781ac152bb694f16",
        "type": "ui_group",
        "name": "Login form",
        "tab": "ce5ab49963467673",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "59ed651b2ccf91aa",
        "type": "ui_group",
        "name": "Food capacity",
        "tab": "fa03995da56e803e",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "457669cf121f2326",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "fa03995da56e803e",
        "order": 2,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3e75d3f7611fd738",
        "type": "ui_group",
        "name": "Food consumption",
        "tab": "fa03995da56e803e",
        "order": 4,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c67eb2ed437d0cbf",
        "type": "ui_group",
        "name": "Profile",
        "tab": "e6b7a06246b867a9",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a4f453e6cef8b789",
        "type": "ui_group",
        "name": "Update",
        "tab": "e6b7a06246b867a9",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ca32dfb2ec8ab7f1",
        "type": "ui_group",
        "name": "Email",
        "tab": "b04556f58b734d6e",
        "order": 1,
        "disp": false,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "765ac9edbab7f418",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "bc6151c1fb37c908",
        "type": "ui_group",
        "name": "Buzzer",
        "tab": "8acf4cd8dcadb6ca",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b7dc2792b95da7d1",
        "type": "ui_group",
        "name": "Light",
        "tab": "8acf4cd8dcadb6ca",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bf126c3444189feb",
        "type": "ui_group",
        "name": "Lid",
        "tab": "8acf4cd8dcadb6ca",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "aa2c7da12e1086a2",
        "type": "ui_group",
        "name": "Feed",
        "tab": "8acf4cd8dcadb6ca",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0d1a2c0b7eda5eb1",
        "type": "ui_group",
        "name": "Current",
        "tab": "7b0bd463e3250132",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "07c0afe64b480570",
        "type": "ui_group",
        "name": "Update",
        "tab": "7b0bd463e3250132",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e9376441b65f8fa6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "494a9fd41ac89a9d",
        "type": "ui_group",
        "name": "EmailUpdate",
        "tab": "b04556f58b734d6e",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6b19a6192710be8b",
        "type": "ui_group",
        "name": "PasswordUpdate",
        "tab": "b04556f58b734d6e",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "851fee28e1842b00",
        "type": "ui_group",
        "name": "PinUpdate",
        "tab": "b04556f58b734d6e",
        "order": 4,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ce5ab49963467673",
        "type": "ui_tab",
        "d": true,
        "name": "Login",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fa03995da56e803e",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e6b7a06246b867a9",
        "type": "ui_tab",
        "name": "Profile",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b04556f58b734d6e",
        "type": "ui_tab",
        "name": "Settings",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8acf4cd8dcadb6ca",
        "type": "ui_tab",
        "name": "Device",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7b0bd463e3250132",
        "type": "ui_tab",
        "name": "Food schedule",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]
